.auth-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.auth-form {
  width: 60%;
}

label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 10px;
  display: block;
}

.input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.form-control {
  width: 100%;
  padding: 10px 35px 10px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
}

.btn-login {
  background: #28a745;
  border: none;
  padding: 8px 25px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.btn-login:disabled {
  background: #8cc79a;
  cursor: not-allowed;
}
.invalid {
  border: 2px solid red ;
}
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 8px;
  font-weight: 500;
}
